svg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",viewBox="0 0 500 150",style="background:#ddd;")
  defs
    filter#christmas(x="-100%",y="-100%",width="300%",height="300%")
      feGaussianBlur(in="SourceAlpha",stdDeviation="3",result="blur")
      feSpecularLighting(surfaceScale="4",specularConstant="2",specularExponent="5",
      lighting-color="#fff",in="blur",result="specular")
        fePointLight(x="0",y="-25000",z="1")
      feGaussianBlur(in="specular",stdDeviation="3",result="specular2")
      feComponentTransfer(in="specular2",result="specular3")
        feFuncA(type="linear",slope="2.5",intercept="-1")
      feComponentTransfer(in="specular3",result="specular4")
        feFuncA(type="linear",slope="2",intercept="-1")
      feImage(xlink:href='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAwcHgiIGhlaWdodD0iMTAwMHB4Ij48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iMCIgeT0iMCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9IiNmZmYiLz48cGF0aCBkPSJNIC0xMCAtMTAgTCAyMCAyMCBNIC0yMCAtMTAgTCAxMCAyMCBNIC0xMCAtMjAgTCAyMCAxMCIgc3Ryb2tlPSIjZjAwIiBzdHJva2Utd2lkdGg9IjIuNSIvPjwvcGF0dGVybj48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuKSIvPjwvc3ZnPg==',x="0",y="0",width="2000",height="1000",result="image")
      feComposite(operator="in",in="image",in2="SourceAlpha",result="tiling")
      feGaussianBlur(in="SourceAlpha",stdDeviation="3")
      feComponentTransfer
        feFuncA(type="linear",slope="0.7",intercept="-0.1")
      feOffset(dy="2",result="shadow")
      feMerge
        feMergeNode(in="shadow")
        feMergeNode(in="tiling")
        feMergeNode(in="specular4")

  text(x="250",y="75",filter="url(#christmas)") Hello World!
