//- module
/* carbon ads structure
.cbad: div: span
  span.carbon-wrap
    a.carbon-img: img ( 130 x 100 )
    a.carbon-text
  a.carbon-poweredby
*/

.cbad
  width: 130px
  position: absolute
  bottom: 0
  left: 0
  margin: 10px
  z-index: 10
  a
    color: #222
  a.carbon-poweredby
    float: right

@media(max-width: 576px)
  .cbad
    width: auto
    position: relative
    height: 100px
    background: #fff
    box-shadow: 0 1px 3px rgba(0,0,0,.1)
    border-radius: 3px
    .carbon-img
      float: left
      margin-right: 10px
    .carbon-poweredby
      bottom: 0
      right: 10px
      position: absolute
      float: none
      margin-top: 0
