svg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",viewBox="0 0 500 150")
  defs
    filter#stripe-bk(filterUnits="userSpaceOnUse",x="-100%",y="-100%",width="300%",height="300%")
      feFlood(flood-color="#700f0f",result="flood1")
      feFlood(flood-color="#fff",flood-opacity="0.5",result="flood2")
      feImage(xlink:href='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAwcHgiIGhlaWdodD0iMTAwMHB4Ij48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iMCIgeT0iMCIgd2lkdGg9IjQuMyIgaGVpZ2h0PSI0LjMiPjxwYXRoIGQ9Ik0gLTQuMyAtNC4zIEwgOC42IDguNiBNIC04LjYgLTQuMyBMIDQuMyA4LjYgTSAtNC4zIC04LjYgTCA4LjYgNC4zIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iTmFOIi8+PC9wYXR0ZXJuPjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI3BhdHRlcm4pIi8+PC9zdmc+',x="0",y="0",width="2000",height="1000",result="image")
      feTile(in="image",result="tile")
      feComposite(operator="in",in="flood1",in2="tile",result="tile2")
      feGaussianBlur(in="SourceAlpha",stdDeviation="10",result="blur")
      feComposite(operator="in",in="tile2",in2="blur",result="cloud")
      feMorphology(operator="dilate",radius="2",in="SourceAlpha",result="dilate")
      feComposite(operator="in",in="flood2",in2="dilate",result="base")
      feMerge
        feMergeNode(in="cloud")
        feMergeNode(in="base")
        feMergeNode(in="SourceGraphic")

  text(x="250",y="75",filter="url(#stripe-bk)",fill="#de530f") Hello World
