svg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",viewBox="0 0 500 150")
  defs
    filter#crack(x="-100%",y="-100%",width="300%",height="300%")
      feFlood(flood-color="#000",result="flood")
      feImage(width="1024",height="768",xlink:href="/assets/img/texture/soil.jpg",result="image")
      feComposite(operator="in",in="image",in2="SourceAlpha",result="comp")
      feColorMatrix(type="matrix",in="comp",result="color1",
      values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  1 0 0 0 0")
      feColorMatrix(type="matrix",in="comp",result="color2",
      values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  -1 -1 -1 1 0")
      feMerge(result="merge")
        feMergeNode(in="SourceGraphic")
        feMergeNode(in="color2")

      feGaussianBlur(stdDeviation="4",in="SourceAlpha",result="blur")
      feSpecularLighting(surfaceScale="40",specularConstant="3",specularExponent="3",
      lighting-color="#ac7c2e",in="blur",result="specular")
        fePointLight(x="-250",y="-50",z="300")
      feComposite(operator="in",in="specular",in2="SourceAlpha",result="comp2")
      feComposite(in="merge",in2="comp2",operator="arithmetic",k1="0",k2="1",k3="1",k4="0",result="out")
      feComposite(operator="in",in="out",in2="color1",result="light")
      feMerge(result="merge2")
        feMergeNode(in="merge")
        feMergeNode(in="light")
      feTurbulence(result="turb",baseFrequency="0.05",numOctaves="10",seed="1")
      feDisplacementMap(in="merge2",in2="turb",scale="6")
      feOffset(dx="-2",dy="-2",result="output")
      feMerge(result="merge3")
        feMergeNode(in="output")
        feMergeNode(in="merge2")
      feComposite(operator="in",in="flood",in2="merge3",result="merge3-flood")
      feComponentTransfer(result="merge3-comp")
        feFuncA(type="linear",slope="0.7",intercept="-0.1")
      feGaussianBlur(in="merge3-comp",stdDeviation="3",result="blur")
      feOffset(dy="3",in="blur",result="blur-offset")
      feMerge
        feMergeNode(in="blur-offset")
        feMergeNode(in="merge3")



  text(x="250",y="75",fill="#340000",filter="url(#crack)") Hello World!
