@import '../vars.styl'
@import '../basic.styl'

@import 'landing.styl'
@import 'editor.styl'
@import 'gallery.styl'
@import 'effect-base.styl'
@import 'palette.styl'
@import 'font.styl'
@import 'irs-below.styl'

.line
  flexbox()
  flex-wrap(wrap)
  transition(opacity 0.3s ease-in-out)

.clusterize-scroll
  max-height: 100%
