#info
  background: linear-gradient(315deg, rgb(227, 251, 253), rgb(245, 250, 250), rgb(255, 255, 255)) fixed
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc
  margin-top: 60px
  padding: 80px 0 120px

#info > .inner
  font-size: 1.5em
  margin: auto
  width: 90%
  max-width: 1024px
