@import '../vars.styl'
@import '../basic.styl'

.color
  position: relative
  .inner
    background: #f00
    width: 5px
    height: 21px
    position: absolute
    top: 5px
    right: 5px
    border-radius: 5px

#palette-picker .clusterize-scroll
  padding: 20px 0

.palette
  cursor: pointer
  width: 100%
  height: 32px
  flexbox()
  flex-wrap(nowrap)
  panel()
  padding: 3px
  overflow: hidden
  .color
    height: 100%
    flex(1 1 auto)
    background: #f00
  .color:first-child, .name + .color
    border-radius: 3px 0 0 3px
  .color:last-child
    border-radius: 0 3px 3px 0

.line .palette
  flex(1 1 auto)
  width: 45%
  height: 40px
  margin: 25px 15px
  padding: 0px
  border: 0
  position: relative
  overflow: visible
  .name
    font-size: 14px
    position: absolute
    top: -24px
    z-index: 10
    color: #999
  &:after
    content: " "
    display: block
    position: absolute
    width: 100%
    height: 100%
    z-index: 9
    box-shadow: inset 0 0 1px rgba(0,0,0,.5)
    border-radius: 3px


.ldColorPicker
  height: 120px
