svg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",viewBox="0 0 500 150")
  defs

    filter#reflect(x="-100%",y="-100%",width="300%",height="300%",primitiveUnits="objectBoundingBox")
      feFlood(flood-color="#704601",result="flood")
      feComposite(operator="in",in="flood",in2="SourceAlpha",result="flood-in")
      feImage(width="100%",height="100%",x="0",y="0",preserveAspectRatio="none",xlink:href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="384.828125" height="75" viewBox="0 0 384.828125 75"> <defs> <linearGradient id="reflect-gradient" x1="0" x2="0" y1="0" y2="1"> <stop offset="0" stop-color="#fff4b7" stop-opacity="0.0"/> <stop offset="0.3" stop-color="#fff4b7" stop-opacity="0.0"/> <stop offset="1" stop-color="#fff4b7" stop-opacity="0.9"/> </linearGradient> </defs> <path d="M0 0 L0 33.75 Q192.4140625 48.75 384.828125 33.75 L384.828125 0 Z" fill="url(#reflect-gradient)"/> </svg>',result="image")

      feComposite(operator="in",in="image",in2="SourceAlpha",result="image-in")
      feGaussianBlur(in="flood-in",stdDeviation="3",result="blur")
      feOffset(in="blur",dx="0",dy="3",result="offset")
      feComponentTransfer(in="offset",result="comp")
        feFuncA(type="linear",slope="0.5",intercept="0")
      feMerge
        feMergeNode(in="comp")
        feMergeNode(in="SourceGraphic")
        feMergeNode(in="image-in")

  text(x="250",y="75",fill="#f7c551",filter="url(#reflect)") Hello World!

