svg(xmlns="http://www.w3.org/2000/svg",viewBox="0 0 500 150")
  defs
    filter#jagged(x="-100%",y="-100%",width="300%",height="300%")
      feTurbulence(result="turb",baseFrequency="0.1",numOctaves="1",seed="1")
      feDisplacementMap(in="SourceGraphic",in2="turb",scale="10")
  text(x="250",y="75",filter="url(#jagged)",fill="#444") Hello World!
