svg(xmlns="http://www.w3.org/2000/svg",viewBox="0 0 500 150",style="background:#de0000")
  defs
    linearGradient#incredible-gradient(x1="0",x2="1",y1="0",y2="0")
      stop(offset="0",stop-color="#ff4")
      stop(offset="1",stop-color="#f92")
    filter#incredible(x="-100%",y="-100%",width="300%",height="300%")
      feFlood(flood-color="#000",flood-opacity="0.5",result="flood",x="10",y="10",width="480",height="130")
      feFlood(flood-color="#921",result="flood-stroke")
      feFlood(flood-color="#fff",result="flood-outline")
      feFlood(flood-color="#000",result="flood-shadow")
      feImage(x="0",y="0",width="500",height="150",href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="500" height="150"><radialGradient id="incredible-gradient"><stop offset="0" stop-color="#d0d0d0"/><stop offset="1" stop-color="#e4e4e4"/></radialGradient><rect x="0" y="0" width="500" height="150" fill="url(#incredible-gradient)"/></svg>',result="image")
      feImage(x="0",y="0",width="10",height="10",href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="10" height="10"><circle cx="5" cy="5" r="3"/></svg>',result="dot")
      feTile(in="dot",result="tile")
      feGaussianBlur(stdDeviation="1.5",result="blur-tile")
      feBlend(in2="image",in="blur-tile",mode="soft-light")
      feColorMatrix(type="matrix",values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  1 0 0 0 0")
      feComponentTransfer(result="func")
        feFuncA(type="linear",slope="20",intercept="-10.5")
      feComposite(operator="out",in="flood",in2="func",result="dots")
      feOffset(dx="3",dy="1",in="SourceAlpha")
      feComposite(operator="out",in2="SourceAlpha")
      feComponentTransfer(result="extrude")
        feFuncA(type="linear",slope="0.7",intercept="-0.1")
      feMorphology(operator="dilate",radius="5",in="SourceGraphic",result="dilate")
      feComposite(operator="in",in="flood-stroke",in2="dilate",result="stroke")
      feOffset(dx="1",dy="0",result="stroke-offset")
      feMorphology(operator="dilate",radius="2",result="dilate-outline")
      feComposite(operator="in",in="flood-outline",in2="dilate-outline",result="outline")
      feComposite(operator="in",in="flood-shadow",in2="outline")
      feGaussianBlur(stdDeviation="3")
      feComponentTransfer
        feFuncA(type="linear",slope="0.7",intercept="-0.2")
      feOffset(dx="0",dy="4",result="offset-shadow")
      feMerge
        feMergeNode(in="dots")
        feMergeNode(in="offset-shadow")
        feMergeNode(in="outline")
        feMergeNode(in="stroke-offset")
        feMergeNode(in="SourceGraphic")
        feMergeNode(in="extrude")

  text(x="250",y="75",fill="url(#incredible-gradient)",filter="url(#incredible)") Hello World!
