svg(xmlns="http://www.w3.org/2000/svg",viewBox="0 0 500 150")
  defs
    linearGradient#stripes-gradient(x1="0",x2="0",y1="0",y2="1")
      stop(offset="0",stop-color="#f92")
      stop(offset="1",stop-color="#e00")
    filter#stripes(x="-100%",y="-100%",width="300%",height="300%")
      feFlood(result="color",flood-color="#f00")
      feImage(href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px"><defs><pattern id="pattern" patternUnits="userSpaceOnUse" width="10" height="10"><path d="M0,8.239V10h1.761L0,8.239z"/><path d="M5,0l5,5l0,0V3.238L6.762,0H5z"/><polygon points="0,3.239 0,5 5,10 6.761,10 "/><polygon points="1.762,0 0,0 10,10 10,8.238 "/></pattern></defs><rect x="0" y="0" width="100%" height="100%" fill="url(#pattern)"/></svg>',x="-2",y="-2",width="100",height="100",result="image")
      feTile(in="image",result="tile")
      feComposite(operator="in",in="SourceGraphic",in2="tile")

  text(x="250",y="75",filter="url(#stripes)",fill="url(#stripes-gradient)") Hello World!
