doctype html
html
  head
  body
    svg(xmlns="http://www.w3.org/2000/svg",width="500",height="150",viewBox="0 0 500 150")
      defs
        filter#crack(x="-100%",y="-100%",width="300%",height="300%")
          feImage(width="1024",height="768",href="/assets/img/texture/soil.jpg",result="image")
          feComposite(operator="in",in="image",in2="SourceAlpha",result="comp")
          feColorMatrix(type="matrix",in="comp",result="color1",
          values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  1 0 0 0 0")
          feColorMatrix(type="matrix",in="comp",result="color2",
          values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  -1 -1 -1 1 0")
          feMerge(result="merge")
            feMergeNode(in="SourceGraphic")
            feMergeNode(in="color2")

          feGaussianBlur(stdDeviation="4",in="SourceAlpha",result="blur")
          feSpecularLighting(surfaceScale="40",specularConstant="3",specularExponent="3",
          lighting-color="#fff",in="blur",result="specular")
            fePointLight(x="-250",y="-50",z="300")
          feComposite(operator="in",in="specular",in2="SourceAlpha",result="comp2")
          feComposite(in="merge",in2="comp2",operator="arithmetic",k1="0",k2="1",k3="1",k4="0",result="out")
          feComposite(operator="in",in="out",in2="color1",result="light")
          feMerge
            feMergeNode(in="merge")
            feMergeNode(in="light")

      text(x="250",y="75",filter="url(#crack)") Hello World

  style(type="text/css").
    text { text-anchor: middle; dominant-baseline: middle; font-family: Arial Black; font-size: 50px }

