//- module
#download.modal
  .card
    .card-body
      h4 Generated Image
      small.gray click the download button to download
      .result: img
      hr
      a.btn.btn-lg.btn-outline-success.mr-2(href="#",download="") Download
      .btn.btn-lg.btn-outline-secondary(onclick="$('#download').modal('hide')") Close
