//- module
#palette-picker.full-picker.fade.fade-alt.modal
  .modal-dialog: .modal-content
    .closebtn.lg(data-toggle="modal",data-target="#palette-picker")
    .clusterize-scroll: .clusterize-content
