#font-picker .line > .inner {
  width: 100%;
}
#font-picker .line > .inner .item {
  width: 276px;
  height: 120px;
  padding: 8px;
}
#font-picker .line > .inner .item span {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
#font-picker .line > .inner .item .img {
  width: 400px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: -200px;
  right: -200px;
  margin: auto;
  background: url("/assets/fonts/all.png") center center no-repeat;
}
#font-picker .line > .inner .item .inner {
  cursor: pointer;
  padding: 8px;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#font-picker .line > .inner .item .inner:after {
  content: " ";
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
