@import 'vars'
@import 'basic'

@font-face
  font-family: Abel
  src: url(/assets/fonts/ttf/Abel-Regular.ttf)

@font-face
  font-family: Abeezee
  src: url(/assets/fonts/ttf/ABeeZee-Regular.ttf)

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  font-family: Abel, Helvetica, Arial

h1, h2, h3, h4, h5, h6
  font-family: Abeezee, Serif

@import 'generic/index'
@import 'modal/index'
@import 'component/index'
@import 'site/index'
